project:
  type: website
  output-dir: _site

highlight-style: a11y

website:
  title: "Kwangmin Kim"
  site-url: kk3225.netlify.app
  description: "blog"
  google-analytics: "G-6W0EKFMWBN"
  repo-url: https://github.com/kmink3225/blog
  open-graph: true
  page-navigation: true # 이전/다음 페이지 버튼
  bread-crumbs: true #헤더에 블로그 게시물의 깊이를 보여주는 빵 부스러기(breadcrumbs) 내비게이션을 활성화
  search:
    show-item-context: true #검색 결과에 항목 컨텍스트 표시
    type: overlay #검색창 스타일: overlay, sidebar, textbox
    algolia:
      index-name: prod_QUARTO
      application-id: DUOR1DRC9D
      search-only-api-key: f264da5dea684ffb9e9b4a574af3ed61
      analytics-events: true
      show-logo: true
  page-footer:
    left: "© Kwangmin Kim"
    center: 
      - text: "About"
        href: about.qmd
    right:
      - icon: github
        href: https://github.com/kmink3225/blog
  navbar: #네비게이션 설정
    background: dark
    logo: ./images/logo.png
    search: true
    collapse-below: lg
    left:
      - href: index.qmd
        text: Home
      #- href: docs/CV/index.qmd 
      #  text: "CV"
      #- text: "Projects"
      #  href: docs/projects/index.qmd 
      - text: "Blog"
        href: docs/blog/index.qmd
    right:
      - text: Me
        href: about.qmd
      - icon: github
        href: https://github.com/kmink3225
        aria-label: Github
      - icon: linkedin
        href: https://www.linkedin.com/in/kwangmin-kim-a5241b200/
        aria-label: Linkedin
      #- icon: rss
      #  href: docs/blog/index.qmd
      #  text: Blog RSS
      #- icon: envelope
      #  href: kmink3225@gmail.com
      #  aria-label: Email

  sidebar:
    - id: blog_posts 
      style: "floating" # docked(목차(TOC)를 페이지 레이아웃의 고정된 사이드바 영역에 배치), floating(스크롤에 따라 움직이는 독립적인 오버레이 패널)
      search: true
      align: left
      collapese-level: 6
      contents:
      - section: "Blog Post List"
        contents: 
          - docs/blog/index.qmd  
          - section: "Code Test"
            contents:
              - docs/blog/posts/Code_Test/guide_map/_index.qmd  
          - section: "Data Science"
            contents:
              - docs/blog/posts/Data_Science/guide_map/_index.qmd       
          - section: "Governance"
            contents:
              - docs/blog/posts/Governance/guide_map/_index.qmd  
          
#  sidebar: 
#    - id: Projects
#      style: "floating"
#      collapse-level: 1
#      backgournd: light
#      align: left
#      contents:
#        - text: "Projects"
#          href: docs/projects/index.qmd
#        - section: "FDA Validation" 
#          contents:
#          - docs/projects/dsp_validation/index.qmd  
#        - section: "LLFS"  
#          contents:
#          - docs/projects/LLFS/project_description.qmd
#          #- section: "Self Project"
#          #  contents:
#          #  - docs/projects/LLFS/self_description.qmd
#          #  - docs/projects/LLFS/data_preparation.qmd
#          #  - docs/projects/LLFS/eda.qmd
#          #  - docs/projects/LLFS/mining.qmd
#          #  - docs/projects/LLFS/statistical_approach.qmd
#          #  - docs/projects/LLFS/ml_approach.qmd
#          #  - docs/projects/LLFS/report.qmd
#        - section: "Diagnostic Device QC"  
#          contents:
#          - docs/projects/qc_platform/index.qmd    
#        - section: "Platform Plan"  
#          contents:
#          - docs/projects/platform_plan/index.qmd
#        - section: "Diagnostic Algorithm"  
#          contents:
#          - docs/projects/backfitting/index.qmd
#        - section: "Clinical Data Analysis"  
#          contents:
#          - docs/projects/pcr_clinical/index.qmd
#        - section: "Heavy Metal Removal"  
#          contents:
#          - docs/projects/heavy_metal/index.qmd
#        - section: "Diffusion Model"  
#          contents:
#          - docs/projects/social_network/index.qmd
#        - section: "Phellinus Linteus Effects"  
#          contents:
#          - docs/projects/phellinus_linteus/index.qmd    
#    - id: CV
#      title: "CV" 
#      style: "floating"
#      collapse-level: 2
#      backgournd: light
#      align: left
#      contents:
#        - docs/CV/index.qmd
#        - text: "Resume"
#          href: docs/CV/Resume.pdf
#        - text: "CV"
#          href: docs/CV/cv.qmd

freeze: true  

format:
  html:
    css: styles.css
    theme: 
      light: [cosmo, theme.scss]  
      dark: [cosmo, theme-dark.scss]  
    toc: true
    include-after-body: _footer.html
    code-copy: true          
    code-fold: true          
    code-overflow: wrap      # 긴 코드 줄바꿈
    code-line-numbers: true  # 코드 라인 번호
    highlight-style: github  # 코드 하이라이팅 스타일
    grid:
      sidebar-width: 150px
      body-width: 1100px
      margin-width: 200px
#editor: visual
