# Python Libraries
numpy
pandas
scipy
scikit-learn
statsmodels
pingouin
lifelines
pygam
matplotlib
seaborn
torch
tensorflow
transformers
pymc
arviz
bambi
skfda
rpy2
linearmodels

# R Libraries
tidyverse
dplyr
janitor
tidymodels
MASS
glmnet
mgcv
lme4
faraway
mcr
pwr
bayestestR
BayesFactor
car
ggpubr
ggplot2
plotly
markdown
effects
HH
heplots
caret
mixOmics
psych
svd
